body {
  
  background-image: url("https://th.bing.com/th/id/R.9633976627fcc5b50990272145911282?rik=3kbe7kJCNA31pQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-Qdh6V4nmp4k%2fU0YlkBRGezI%2fAAAAAAAAAsI%2fZC_4_9EWimg%2fs1600%2fMegacities.jpg&ehk=9DIhwPetISapnP3dSVl8lvmm3V20GyEWc7FDZphZw40%3d&risl=&pid=ImgRaw&r=0");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
font-family: 'Merriweather', serif;
}
a {
  color: #4d3e30;
}
.weather-app {
  background: #f5f9fa;
  max-width: 600px;
  margin: 200px auto;
  padding: 30px;
  box-shadow:0 30px 50px rgba(65, 50, 100, 0.08);
border-radius: 16px;

}
header {
  border-bottom: 1px #bac5e3;
  padding: 0 0 30px 0;

}

.search-form-input {
  background-color: #afbcde;
  border: none;
  border-radius: 6px;
  width: 70%;
  padding: 15px 20px;
  font-size: 16px;
  
}
.search-form-button {
  background-color: #6883c9;
  border: none;
  border-radius: 6px;
  width: 20%;
  padding: 15px 30px;
  font-size: 16px;
  margin-left: 25px;
  
}
main {
  padding: 30px 0;
  border-bottom: 1px  #809ee7;
}
.weather-app-city {
  margin: 0;
  line-height: 48px;

}
.weather-app-details {
  font-size: 16px;
  line-height: 20px;
}
.weather-app-details strong {
  color: #f65282;
  
 
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-temp-container {
  display: flex;
}
.weather-app-temp {
  font-size: 88px;
}
.weather-app-icon {
  font-size: 84px;
  margin-left: 60px;
 
}
.weather-app-unit {
  margin-top: 18px;
  font-size: 25px;
 

}

.weather-forecast {
  margin-top: 304px; 
  display: flex;
  justify-content: space-around;
}
.weather-forecast-day {
  opacity: 0.9;
  font-size: 16px;
}

.weather-forecast-icon {
  width: 58px;
  height: 38px;
  display: block;
  margin: 0 auto;

}

.weather-forecast-temp {
  font-size: 16px;
}
.weather-forecast-temp-low {
  opacity: 0.6;
}
footer {
  border-top: 1px #809ee7;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;

}
header {
  border-bottom: 1px #809ee7;
  padding: 0 0 30px 0;
  color:rgba(0,0,0,0.6);
  font-weight: bold;

}
.App {
  font-family: sans-serif;
  text-align: center;
}

