body {
  background-color: #809ee7;
  background-image: url("https://th.bing.com/th/id/R.9633976627fcc5b50990272145911282?rik=3kbe7kJCNA31pQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-Qdh6V4nmp4k%2fU0YlkBRGezI%2fAAAAAAAAAsI%2fZC_4_9EWimg%2fs1600%2fMegacities.jpg&ehk=9DIhwPetISapnP3dSVl8lvmm3V20GyEWc7FDZphZw40%3d&risl=&pid=ImgRaw&r=0");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
font-family: 'Merriweather', serif;
}
.weather-app {background: #a3c8ff;
  max-width: 600px;
  margin: 200px auto;
  padding: 30px;
  box-shadow:0 30px 50px rgba(65, 50, 100, 0.08);
border-radius: 16px;

}